section#neighborhood{
	padding: 0;
}
#neighborhood-map{
	height: calc( 100vh - 200px );
}
#neighborhood-menu-toggle{
	position: absolute;
    z-index: 20;
    background: #fff;
    padding: calc( 50vh - 100px ) 20px;
    height: calc( 100vh - 200px );
}
#neighborhood-menu-toggle button{
	background: none;
	border: none;
	outline: none;
}
#neighborhood-menu-toggle .icon-bar{
	display: block;
	width: 22px;
	height: 2px;
	margin: 5px 0;
	background: #666;
	transition: all .2s;
}
#neighborhood-menu{
	position: absolute;
	z-index: 10;
	left: 70px;
	background: #fff;
	padding: 100px 50px;
	height: calc( 100vh - 200px);
	display: none;
	overflow-y: scroll;
}
#neighborhood-menu a,
#neighborhood-menu a:hover,
#neighborhood-menu a:focus,
#mobile-menu a,
#mobile-menu a:hover,
#mobile-menu a:focus{
	text-decoration: none;
}
#neighborhood-menu > a,
#mobile-menu  > a{
	width: 250px;
	display: block;
	margin-bottom: 20px;
}
#neighborhood-menu > a > span.text-muted,
#mobile-menu > a > span.text-muted{
	font-size: 25px;
	font-weight: 500;
}
#neighborhood-menu > a > span.pull-right,
#mobile-menu > a > span.pull-right{
	margin-top: 5px;
}
#neighborhood-menu ul,
#mobile-menu ul{
	list-style: none;
	margin-left: -35px;
	line-height: 1.8;
}
.neighborhood-menu-item{
	color: #aaa;
}
.neighborhood-menu-item:hover,
.neighborhood-menu-item:focus{
	color: #000;
}
#mobile-toggle{
	font-size: 16px;
	padding: 20px 0;
	text-align: center;
	cursor: pointer;
}
#mobile-menu{
	padding: 50px;
}
